scratch/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Environments
.venv/

# Sphinx
docs/_build/
_build/

# Jupyter
.ipynb_checkpoints/

# Local/editor files
.DS_Store
.vscode/
.idea/
